{% extends 'bases/base.html' %}
{% load static %}
{% block content %}
{% include 'components/header.html' %}
{% include 'components/side.html' %}

<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <h2 style="text-align: center;">
                Votre compte n'est pas encore activé
            </h2>
            <p style="text-align: center;">
                Votre compte doit être activé avant de pouvoir vous connecter. Veuillez vérifier votre boîte de réception pour le lien d'activation.
            </p>          
        </div>
    </div>
</section>
{% endblock %}