{% extends "bases/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Réinitialisation du mot de passe" %}{% endblock %}

{% block content %}

    <h1 style="text-align: center; padding:20px">{% trans "Réinitialisation du mot de passe" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <!--<p>{% trans "Mot de passe oublié? Entrez votre adresse e-mail ci-dessous, et nous vous enverrons un e-mail vous permettant de le réinitialiser." %}</p>-->

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card shadow">
                    <div class="card-body">
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="btn text-primary main-bg" type="submit" value="{% trans 'Réinitialiser mon mot de passe' %}"/>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>



{#    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>#}
{% endblock %}