{% extends "bases/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1 style="text-align:center; padding:25px">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>
    {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a
    <a href="{{ passwd_reset_url }}">new password reset</a>
    {% endblocktrans %}
</p>
{% else %}

<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
                background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
                height: 300px;">
    </div>
    <!-- Background image -->
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
            margin-top: -100px;
            background: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(30px);">
        <div class="card-body py-5 px-md-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <form method="POST">
                        {% csrf_token %}
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        {% for field in form %}
                        <div class="form-outline m-2">
                            {{ field }}
                        </div>
                        {% endfor %}
                        <!-- Submit button -->
                        <input class="btn text-primary main-bg" type="submit" name="action" value="{% trans 'change password' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}